@page
@model Contact
@{
    ViewData["Title"] = "About TKminimum";
}
<h2>Learn more about us.</h2>
<p>Follow us on <a href="https://twitter.com/TKMinimum">Twitter</a>.</p>
<p>Follow us on <a href="https://m.facebook.com/people/TK-Minimum/100088047695803/">Facebook</a>.</p>

