@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="Tkminimum.png" style="width:600px;height:200px;">

    <pre>


        Hi, we’re the Young Enterprise team from Sandringham School and we have set up a business called TK minimum
        which sells handmade, printed designs on tote bags and second hand clothing. Our aim is to be an eco-friendly
        store which provides cheaper trendy clothing and bags that can be accessible for all teens. We ensure all
        clothes we sell are good quality and cleaned thoroughly so they look brand new.
    </pre>
</div>