@page
@model Products
@{
}
<h1>Our products</h1>

<h3>Hoodies</h3>
<a href="https://www.ye-tradingstation.org.uk/product/black-mountain-wearhouse-coat?v=2417">Black Mountain Wearhouse Coat<div><img src="Mountainwarihouse.jpeg" height="600" /></div></a>
<p></p>
<a href="https://www.ye-tradingstation.org.uk/product/blue-adidas-hoodie?v=2386">Blue Adidas Hoodie<div><img src="Blue Adidas.jpeg" height="600" /></div></a>
<p></p>
<a href="https://www.ye-tradingstation.org.uk/product/nike-full-zip-jumper?v=2447">Blue Nike Jumper<div><img src="BlueJumper.jpg" width="500" height="600" /></div></a>
<h3>Jeans</h3>
<a href="https://www.ye-tradingstation.org.uk/product/hollister-jeans?v=2427">Hollister Jeans<div><img src="Holljean.jpeg" height="600" /></div></a>
<p></p>
<a href="https://www.ye-tradingstation.org.uk/product/river-island-jeans?v=2424">River Island Jeans<div><img src="jeans.jpeg" height="600" /></div></a>
<h3>Bags</h3>
<a href="https://www.ye-tradingstation.org.uk/product/recycling-tote-bag?v=2234">Reusable Tote bag<div><img src="ToteBag.jpeg" width="500" height="600" /></div></a>
<p></p>
<a href="https://www.ye-tradingstation.org.uk/product/reusable-tote-bags?v=2232">Reusable Tote bag<div><img src="ToteBagStar.jpeg" width="500" height="600" /></div></a>