@page
@model Products
@{
}
<h1>Our products</h1>

<h2>Bags</h2>
<p>Learn about <a href="https://www.ye-tradingstation.org.uk/product/recycling-tote-bag?v=2234">Reusable Tote bags</a>.</p>
<p>Learn about <a href="https://www.ye-tradingstation.org.uk/product/reusable-tote-bags?v=2232">Reusable Tote bags</a>.</p>
<p>Put more products here</p>
