@page
@model Products
@{
}
<h1>Our products</h1>

<h3>Hoodies</h3>
<p><a href="https://www.ye-tradingstation.org.uk/product/recycling-tote-bag?v=2234">Grey Uniqlo Hoodie</a>.</p>

<h3>Bags</h3>
<p><a href="https://www.ye-tradingstation.org.uk/product/recycling-tote-bag?v=2234">Reusable Tote bag</a>.</p>
<p><a href="https://www.ye-tradingstation.org.uk/product/reusable-tote-bags?v=2232">Reusable Tote bag</a>.</p>

