html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
a > div {
    display: none;
}

a:hover > div {
    display: block;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}